node_modules/**

vendor/**

vendor/bundle/ruby/2.5.0/gems/jekyll-3.7.3/lib/site_template/_posts/0000-00-00-welcome-to-jekyll.markdown.erb

vendor/bundle/ruby/2.5.0/gems/liquid-4.0.0/lib/liquid/locales/en.yml

vendor/bundle/ruby/2.5.0/gems/minima-2.5.0/assets/main.scss

.bundle/config

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-tactile-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-modernist-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-merlot-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-architect-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-cayman-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-dinky-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-hacker-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-leap-day-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-midnight-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-primer-0.5.3/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-slate-0.1.1/assets/css/style.scss

vendor/bundle/ruby/2.5.0/gems/jekyll-theme-time-machine-0.1.1/assets/css/style.scss

